.main-page {
  h1 {
    font-size: 3rem;
  }

  a, a:visited {
    color: #983211;
    text-decoration: none;

    &:focus, &:hover {
      text-decoration: underline;
    }
  }

  .hidden {
    display: none !important;
  }

  .cover-art {
    padding-top: 50px;
  }

  .fog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2000px;
    background-image: url("../images/fog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    padding: 7px;
    z-index: 10;
  }

  .header-background {
    background: #3d1d10;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .header-title {
    margin: auto;
    width: 200px;
    height: 55px;
    background-image: url("../images/sadlands-title.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header-title a {
    display: block;
    height: 100%;
    width: 100%;
  }

  .bottles {
    margin: auto;
    width: 600px;
    height: 713px;
    background-image: url("../images/bottles-and-smoke.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }

  .strapline {
    font-style: italic;
    font-size: 3rem;
    color: #f4e8d1;
    text-align: center;
    margin-top: 1em;
  }

  .header-links {
    position: fixed;
    left: 0;
    right: 0;
    top: -200px;
    background: #f4e8d1;
    z-index: 9;
  }

  .header-links-container {
    width: 700px;
    margin: auto;
    display: flex;

    & > a {
      text-decoration: none;
      font-size: 1.5rem;
      flex: 1 1 0px;
      color: #983211;
      text-align: center;
      padding: 0.3em 0;
      font-variant: small-caps;

      &:hover, &:focus {
        background: #983211;
        color: #f4e8d1;
      }
    }
  }

  .content-section {
    background: #fffdf9;
    margin: 4rem 0;
    font-size: 1.3rem;
    line-height: 1.5;
    -webkit-box-shadow: 0px 0px 29px 11px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 29px 11px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 29px 11px rgba(0, 0, 0, 0.5);
  }

  .copy {
    padding: 1rem;
    width: 700px;
    margin: auto;
  }

  .mobile-only {
    display: none;
  }

  .image-container {
    text-align: center;
  }

  .author-image {
    width: 200px;
    border-radius: 50%;
  }

  .shop-links {
    display: flex;
    flex-wrap: wrap;
    margin: 3em 0 4em 0;

    div {
      flex: 1 1 auto;
      text-align: center;
      margin: .5em 0;
    }

    a {
      font-size: 1.5em;
      margin-right: 2em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 710px) {
    .mobile-only {
      display: initial;
    }

    .desktop-only {
      display: none;
    }

    h1 {
      font-size: 2rem;
    }

    .disable-scroll {
      height: 100%;
      overflow: hidden;
    }

    .fog {
      background-image: url("../images/fog.jpg");
    }

    .cover-art {
      padding-top: 25px;
    }

    .hamburger-wrapper {
      z-index: 15;
      position: fixed;
      top: 0;
      left: 0;
    }

    .hamburger-button {
      height: calc(7px + 13vw);
      width: calc(7px + 13vw);
      padding: 3.5vw;
      background: none;
      border: none;
    }

    .hamburger-icon {
      width: 100%;
      height: 2px;
      background: #f4e8d1;
      margin: 2.5vw 0;
      display: block;
      position: relative;

      &::before {
        width: 100%;
        height: 2px;
        background: #f4e8d1;
        display: block;
        content: ' ';
        position: absolute;
        top: -2.5vw;
      }

      &::after {
        width: 100%;
        height: 2px;
        background: #f4e8d1;
        display: block;
        content: ' ';
        position: absolute;
        top: 2.5vw;
      }
    }

    .close {
      background: none;
      border: none;

      &:before, &:after {
        position: absolute;
        top: 3.5vw;
        left: 7.5vw;
        content: ' ';
        height: 8vw;
        width: 2px;
        background: #f4e8d1;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    .header-title {
      width: 40%;
      height: 11vw;
    }

    .header-links {
      position: fixed;
      top: calc(7px + 12vw);
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 15;
    }

    .header-links-container {
      flex-direction: column;
      width: 100%;
      margin-top: 2rem;

      & > a {
        font-size: 2rem;
      }
    }

    .bottles {
      width: 90vw;
      height: 107vw;
      background-image: url("../images/bottles-and-smoke.png");
    }

    .strapline {
      font-size: 1.5rem;
    }

    .content-section {
      margin: 2rem 0;
    }

    .copy {
      width: auto;
    }
  }
}
