a, a:visited {
    color: #983211;
}

.header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    padding: 7px;
    z-index: 10;
}

.header-background {
    background: #3d1d10;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.header-title {
    margin: auto;
    width: 200px;
    height: 55px;
    background-image: url("../images/sadlands-title.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.header-title-link {
    display: block;
    height: 100%;
}

.header-links {
    position: fixed;
    left: 0;
    right: 0;
    top: 69px;
    background: #f4e8d1;
    z-index: 9;
}

.header-links-container {
    width: 600px;
    margin: auto;
    display: flex;
}

@media (max-width: 600px) {
    .desktop-only {
        display: none;
    }

    .header-links-container {
        width: 95vw;
    }
}

.header-links-container > a {
    text-decoration: none;
    font-size: 1.5rem;
    flex: 1 1 0px;
    color: #983211;
    text-align: center;
    padding: 0.3em 0;
    font-variant: small-caps;
}

.header-links-container > a:hover,
.header-links-container > a:focus {
    background: #983211;
    color: #f4e8d1;
}

.content {
    width: 600px;
    max-width: 90vw;
    margin: auto;
    padding-top: 100px;
    line-height: 1.5;
    text-align: justify;
}

.chapter-navigation {
    font-size: 1.2em;
    display: flex;
    padding: 2em 1em;
}

.next-chapter {
    flex: 1 1 auto;
    text-align: right;
}

p {
    margin: 0;
    text-indent: 0;
    font-size: 1em;
}

p + p {
    text-indent: 1.5em;
}

p + p.no-indent {
    text-indent: 0;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0.2em;
}

h1.acknowledgements {
    margin-bottom: 2em;
}

h1.book-title {
    margin-top: 4em;
    margin-bottom: 0.2em;
}

.chapter-time {
    font-size: 1.25em;
    margin-bottom: 4em;
}

.page-break {
    page-break-after: always;
}

.toc ol {
    list-style-type:none;
}

.toc a {
    padding: 0.25em 0;
}

.dedication {
    margin-top: 5em;
}

.chapter-spacer {
    page-break-before: always;
    margin-bottom: 1em;
}