<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {# Verification for sadlands.co.uk #}
    <meta name="google-site-verification" content="p5QXwBc5YqlAznim97lObWkDLiHU-PRkKjClGWtPzas"/>
    {# Verification for alecgibson.co.uk #}
    <meta name="google-site-verification" content="u74Jtnue_Bei90p0D8xn8AKTLFCg0PNYyf3AKPlPP0w"/>

    <link
    href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Rajdhani:wght@500&family=Staatliches&display=swap"
    rel="stylesheet">
    {# TODO: Replace favicon #}
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/assets/style/application.css">

    <title>Sadlands - Alec Gibson</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/assets/javascript/application.min.js"></script>
  </body>
</html>