{% extends "chapter-preview.njk" %}
{% set chapterNumber = 1 %}

{% block chapter %}

    <div id="chapter1" class="chapter-spacer">&#8203;</div>
    <h1><span>Chapter 1</span></h1>

    <p align=center class="chapter-time"><i><span
    >Before</span></i></p>

    <p class="no-indent"><span
    >Phi’s job
hunt wasn’t as easy as he’d anticipated. After failing to bake at the baker’s
and groce at the grocer’s, Phi found himself standing outside Mr. Reese’s
Mysteries and Sentimentorium. The name of the shop fit impossibly over the door,
with the flaking gold letters wriggling and weaving their way across the faded
purple shop front. The hanging sign dangled precariously and shoppers tried to
avoid walking directly beneath it. The look was charming, like an old book that
had been read too many times. Despite the shabby exterior, everything inside
the shop was gleaming. The windows were crystal clear, showing off racks of
bottled Emotions – pure and cocktailed – all boasting to be the cheapest and
best in the country.</span></p>

    <p><span> Animals
paced, flapped and bounced in their cages. The fuzzy little gigguls chittered,
pointed and laughed at passers-by; the dusty-coloured furballs shook like
pompoms as they held their bellies with their tiny hands. The feelones pawed
around their cages, brushing up against the bars any time someone came near.
The funny-rabbits hopped and snickered, while the f’wish bubbled away dreamily
as it swam laps around its bowl.</span></p>

    <p><span>Phi
liked the look of the old shop. It was interesting, especially when contrasted
with the butcher’s next-door, a shop with a plain white sign and even plainer
text that simply read “Meat”.</span></p>

    <p><span>Stepping
through the old, broken door was like shaking the water from your ears after
swimming. From the muted Sunday morning crowds, Phi popped into a cacophony of
barking, squawking, yowling and howling. The animals clamoured to catch the
attention of the new visitor.</span></p>

    <p><span>“Hello?”
ventured Phi, as he stepped down an aisle of Emotions. The bottles were all
different sizes and colours, with neat, handwritten labels. He wandered past
Glumness, on to Lugubriousness, followed by Melancholy and Moroseness, then
Sadness (light through profound), and finally on to Woebegonity, before
stepping out the other end of the aisle and standing before the unattended counter.</span></p>

    <p><span>Phi
rang the rusty old bell with a disappointing thunk. He called out again. Something
crashed to the ground in a back room, accompanied by a series of curses. Mr.
Reese emerged from the recesses of the shop, dusting off his old suit jacket,
which had holes worn in places that shouldn’t ever get holes. The old man fit
his shop exactly: everything from his flaking exterior to his precariously hung
smile and faded purple tie made it feel like you were looking at the incarnation
of the establishment itself.</span></p>

    <p><span>“What’ll
it be?” he announced toothlessly, squinting at his visitor. “We’ve got a school
special on Confidence. Exuberance is half price. And I’m tryin’ to clear out
some old stock of Paranoia. You can basically have that for free if you want
it.”</span></p>

    <p><span>“Why
would I want to be paranoid?” asked Phi.</span></p>

    <p><span>“That’s
the spirit!” Mr. Reese said, gummily.</span></p>

    <p><span>“Are
you all right?” asked Phi, gesturing at the old man’s bleeding hand.</span></p>

    <p><span>“This?
I’ll be fine. Nothin’ a bit o’ Pluck won’t cure! That and a good sticking
plaster.”</span></p>

    <p><span>“I’ve
come to ask about a job.”</span></p>

    <p><span>“A
job? What sort of job?”</span></p>

    <p><span>“Uh…I
don’t know. I was hoping you could tell me. I’d like to work here.”</span></p>

    <p><span>“Is
there a sign up?”</span></p>

    <p><span>“A
sign?”</span></p>

    <p><span>“Yes,
a sign. In the window. Asking for help.”</span></p>

    <p><span>“No.”</span></p>

    <p><span>“Ah.
Should be. Not that I was lookin’ for help, y’see, that’s just where I keep all
my signs. I wonder where that one’s got to…”</span></p>

    <p><span>“So…you’re
not looking for help?”</span></p>

    <p><span>“No.
But that doesn’t mean I couldn’t use some.”</span></p>

    <p><span>“So
you <i>are</i> looking for help?”</span></p>

    <p><span>“You
got any previous experience?”</span></p>

    <p><span>“Well,
I’m very good at –”</span></p>

    <p><span>“How
strong are you?”</span></p>

    <p><span>“Second
strongest boy in school. And that’s just ‘cause Danny Wilkes got held back.
He’s twice my size. Besides, everyone knows I’m faster.”</span></p>

    <p><span>Mr.
Reese grabbed a walking stick from behind the counter, leant over and clacked
it against Phi’s knees.</span></p>

    <p><span>“Ow!”</span></p>

    <p><span>“That’ll
do. Can’t be worse than my old things!” he cackled. “Anything else you think I
should know?”</span></p>

    <p><span>“I’ll
work hard. I pick up most things easily.”</span></p>

    <p><span>“Like
boxes?”</span></p>

    <p><span>“Yes…I
could pick up boxes. But that’s not what I –” </span></p>

    <p><span>“Fine.
You’re hired!”</span></p>

    <p><span>“I
am?”</span></p>

    <p><span>“Yup.
Pretty headstrong, though, ain’tcha? Not like I’ll get many other people
looking for jobs without my sign, though.” Mr. Reese extended his hand to Phi,
who took it, bewildered.</span></p>

    <p><span>“Thank
you!”</span></p>

    <p><span>“Ain’t
you gonna ask about the pay?” said the old man.</span></p>

    <p><span>“The
pay?”</span></p>

    <p><span>“Well
too late now, you’ve already agreed to work. Guess you’re working for free!” he
cackled.</span></p>

    <p><span>“I…uh…what?”</span></p>

    <p><span>“Just
a little joke!” said the old man, clapping Phi on the shoulder. “Don’t worry.
We’ll fix your sense of Humour one of these days. Can prob’ly even do you a
deal on some old backstock. But right now, you’ve got some lifting to do.”</span></p>

    <p><span>“Right
now?”</span></p>

    <p><span>“Of
course! When else do you want to start?”</span></p>

    <p><span>“I
guess I could start right now.”</span></p>

    <p><span>“You
guessed right. Come on, this way.” Mr. Reese hobbled off into the back of the
shop.</span></p>

    <p><span>Phi
struggled with the hinged countertop, fiddling with the latch and shoving at
the thing to unstick, but he couldn’t get it to budge.</span></p>

    <p><span>“Are
you coming or not?” hollered Mr. Reese from the back. “I don’t want to hire and
fire someone in the same day!” His chortling turned into a series of sharp
coughs.</span></p>

    <p><span>Giving
up on the latch, Phi hopped over the counter and followed the door through to
the back of the shop. It took his eyes a few seconds to readjust to the dingy lighting.
He groped through the darkness until he came to the door leading to the storage
room. He cursed as he tripped over a box on the floor.</span></p>

    <p><span>“Careful
with those!” called out Mr. Reese from around the corner.</span></p>

    <p><span>Phi
followed the old man’s voice past a tiny kitchen and down a small flight of
stairs to a miniature laboratory, squeezed onto a coffee table. There was
barely enough room for one person to stand in the cramped little room. Beakers,
test tubes, burners and titres were all huddled precariously on the table, some
held by clamp stands above the others for want of space. Mr. Reese was
carefully pipetting something into one of the beakers.</span></p>

    <p><span>“What
are you doing?” asked Phi, trying to peer over the old man’s shoulder.</span></p>

    <p><span>“Bah!”
Mr. Reese jumped as a green cloud started fuming from his beaker. He dropped the
pipette and hustled Phi out of the room, slamming the old metal door behind
him. “See what you made me do?”</span></p>

    <p><span>“I’m
sorry! I didn’t mean to!”</span></p>

    <p><span>The
old man clapped Phi on the shoulder again. “It’s all right. We’ve just got to
leave it to air out for a little while.” He flicked a switch and something
began whirring on the other side of the door. Phi watched through a porthole in
the door as swirling vortices curled their way through the dense green fog and
the emerald mist drained away. “Sensitive things, Feelings. Just a dash too
much Care and your Love turns to Envy. Only one sixteenth of an ounce of
Injustice can sour a pound of Sorrow into Vengefulness.”</span></p>

    <p><span>“What
was it you were doing in there?”</span></p>

    <p><span>“Just
checkin’ up on one of my experiments.”</span></p>

    <p><span>“You
do experiments back here?”</span></p>

    <p><span>“Of
course! Explorin’ the whole emotional spectrum, a fraction of an ounce at a
time. How else do you think I come up with all the variants you see on the
shelves in the shop? Guesswork? I’m always findin’ new mixtures. Just the other
day I discovered that if you mix a bit of Hope with a hefty portion of Longing
and chuck in a little bit of Confusion, you get a great base for synthesising
most things in the Cathartic series. It’s great fun. Never got to do much of
this at the Factory.”</span></p>

    <p><span>“You
worked at the Factory? What was it like?”</span></p>

    <p><span>“Oh
yes, many years. Don’t get me wrong, it was hard, high-precision work. We had
to produce the entire emotional spectrum to pump into the air, so’s people
could feel everythin’. We had to make all the Emotions, but in just the right
proportions. You want to give people the ability to feel, but not influence <i>how</i>
they feel. Tricky business, very exacting, but no fun. Not like I get to have
now in my little lab!”</span></p>

    <p><span>“If
you’re choosing what you make, why do you have so many bad Emotions out front?”
asked Phi. He backed away nervously from the green smoke seeping under the
door.</span></p>

    <p><span>“Eh?
Bad?”</span></p>

    <p><span>“You’ve
got a whole shelf full of different kinds of Sadness.”</span></p>

    <p><span>“Sadness
ain’t bad! It’s a very important Emotion! Where would we be without Sadness?”</span></p>

    <p><span>“Everyone
would be happy!” </span></p>

    <p><span>“No
they wouldn’t. Wouldn’t know what Happiness was. Not without feeling sad every
once in a while. How can you have one without t’other? Get all sorts in ‘ere,
you know. Sometimes people are bored of feeling happy. Or they want to feel
sad, so that they really appreciate it next time. Not my business what people
do with their Feelings. Just so long’s they pay for ‘em!”</span></p>

    <p><span>Mr.
Reese led Phi back up to the store room. Phi’s eyes had readjusted to the dark
a little, and he waded his way past the city of box skyscrapers into the room,
where there was barely enough floor space to stand. In one corner, a girl was
walled in by boxes. She sat with a lantern and a quill, carefully labelling
each bottle with the neat calligraphy Phi recognised from out front.</span></p>

    <p><span>“This
here’s my other assistant, Aula,” introduced Mr. Reese. “She’ll show you what’s
what. I’d better go clear up the lab.” He shuffled out of the room.</span></p>

    <p><span>Aula
continued writing her label, with her tongue poking out the corner of her mouth
in concentration. Only when she had finished and eased the bottle back in its
box did she look up to inspect her new co-worker. </span></p>

    <p><span>Phi
ran his hand through his hair, suddenly conscious of his appearance. He had sharp,
defined features, as if an illustrator had sketched him in a moment of
inspiration, and – as an afterthought – added a scribble of hair for good
measure.</span></p>

    <p><span>Aula
must have been about Phi’s age, fifteen, or maybe even a bit older. Phi always
had trouble telling with girls. She had pretty, round features. Her tousled
hair was strung through with a blue ribbon, that failed to stop her curls tumbling
down her face. She had deep, blue, inquisitive eyes that flitted here and
there, seeming to question everything they saw. They skimmed over Phi,
appearing to ask, “Who are you?”</span></p>

    <p><span>“I’m
Phi,” he said and – for some bewitching reason he couldn’t explain – he thought
it would be a good idea to lean nonchalantly against the nearby step ladder.
The thing began to fall under his weight, and he caught it with a stumble. He stepped
away from it with a nervous laugh. </span></p>

    <p><span>“I
guess you’re supposed to be the brawn around here,” said Aula, looking Phi up
and down with a frown.</span></p>

    <p><span>“What’s
brawn?”</span></p>

    <p><span>“Mm.
Definitely not the brains,” she concluded, her eyes laughing. “That step
ladder’s not just for posing on, you know. This half of the room has boxes with
labelled bottles; they can go up on the shelves.”</span></p>

    <p><span>Happy to move quickly on from how much of a fool he was being, Phi grabbed the ladder and got to work. Aula continued with her labelling. Phi wondered how many boxes he would have to stack before they’d moved on from his awkwardness. Was it awkward? He felt awkward. <i>She must feel awkward, too. Right?</i> Clank, clank, clank went his feet up the ladder. Aula’s pool of light winked at him out of the corner of his eye. <i>Is it weird to look at her? I want to look at her. I haven’t looked at her since I started stacking boxes. Is that weird? I’m doing it!</i> He watched her inking the quill, and then carefully tracing out the shapes of the letters. Unable to tear his gaze away, he absent-mindedly clattered his box onto the shelf.</span>
    </p>

    <p><span>“Careful
with that!” warned Aula, looking up from her work.</span></p>

    <p><span><i>She’s caught me staring! I wasn’t staring. Glancing. Checking.</i> Phi scrambled clumsily down the ladder. “Ha. Um. Just checking the box was full. I…uh…wanted to make sure you’d told me the right things to put on the shelves,” he said.</span>
    </p>

    <p><span>“And
you couldn’t tell by lifting it?”</span></p>

    <p><span>“Oh
yeah. Well. No harm in being doubly sure.” </span></p>

    <p><span>“Maybe
next time you could – I don’t know – open the box?”</span></p>

    <p><span>“Yeah.
Guess I could do that,” Phi said, grabbing another box with a fumble. <i>When did I become such a clumsy idiot? We have to talk about something that’s not about how stupid I am.</i> “How long have you been working here?” he asked, as the first thing that popped into his head. It was a dull question, and he lost his Enthusiasm halfway through saying it.</span>
    </p>

    <p><span>“About
a year,” replied Aula, frowning as she tried to unstick a crooked label. “How
long have <i>you</i> been working here?”</span></p>

    <p><span>They
both laughed, and then fell back into silence. <i>How can quietness be so…awkward?</i>
Phi thought to himself as he continued shuffling up and down the ladder. He
tried furiously to think of something to say, appalled that talking had become
so difficult.</span></p>

    <p><span>“So
–” they both began.</span></p>

    <p><span>“You
go,” said Phi.</span></p>

    <p><span>“So
what’ve you got the job for?” asked Aula.</span></p>

    <p><span>“What
do you mean?”</span></p>

    <p><span>“Why
are you working? I came to work here so I can save up and buy my parents
something nice for their birthdays. Think I’m going to get my mum a giggul. I
think she gets bored when my dad’s away fishing. Gigguls give off so much
Humour it’s got to cheer her up. I never know what to buy for my dad, though.
He claims he wants another pair of warm, woolly socks, but I can’t get him the
same thing three years in a row.”</span></p>

    <p><span>Phi
struck his relaxing-against-the-ladder pose again. <i>Now I can show her I’m not just an idiot boy!</i> “Oh, well I guess I got the
job because I’m a man now and, uh, I thought it was important to learn the
value of a hard day’s work,” he said. “Being mature’s important.”</span></p>

    <p><span>“Being
mature sounds boring,” said Aula, pulling out another label.</span></p>

    <p><span>“Well I’m trying something new,” said Phi quickly, his hand flying through his hair again.</span></p>

    <p><span><i>How do I show her I’m not that mature?</i> She looked at him inquisitively. His eyes flicked between hers, and then up to her hair. Without really thinking, Phi tugged the end of the ribbon in Aula’s hair, and pulled it undone. He had no idea why he was doing this. There was something about this girl that made him want to impress her even more than other people. Was stealing her ribbon impressive? <i>What am I doing?</i></span>
    </p>

    <p><span>“What are you doing?”
snapped Aula. “Give that back!”</span></p>

    <p><span>Phi
dashed around to the other side of the ladder and dangled it at her through the
rungs. She grabbed at it, but he snatched it away from her again.</span></p>

    <p><i><span>She
doesn’t look impressed</span></i><span>, Phi thought to himself. He attempted to tie the ribbon into his own
hair without great success.</span></p>

    <p><span>“How
do I look?” he asked with a grin.</span></p>

    <p><span>“Utterly
daft,” she said. Aula yanked the ribbon unceremoniously off Phi’s head, and
threaded it back into her own tangle of hair.</span></p>

    <br/>

    <p align=center><span
    >&#10022;</span></p>

    <br/>

    <p><span
    >When they
were done labelling bottles, Phi and Aula moved on to restocking the shelves in
the front of the store. Aula pointed out some of the broader emotional
categories: Love, Joy, Surprise, Anger, Sadness, Fear and so on. More popular
Emotions occupied a broader range of the shelf. They each took a shelf and
wrote down everything that needed restocking. Once they had their list, they
collected the missing Emotions from the store room (“But I just put these
away!” Phi moaned), and set about restocking the shelves.</span></p>

    <p><span>As
Aula worked, she tended to dance around the shelves. She bobbed and skipped,
humming along to a tune in her head while she put the bottles back on their
shelves. She only paused to align the labels outwards, then she would dance
back over to the box and grab the next Feeling. Phi watched her with curious
Amusement. There was something so sweet about her Obliviousness, dancing along
to her own silent tune. Phi couldn’t help but smile as he watched her between
the shelves.</span></p>

    <p><span>“What
on earth is she doing?” remarked a customer.</span></p>

    <p><span>This
startled Phi; he hadn’t realised there was anyone else in the shop. The
customer – a rotund lady with a lofty nose and a saggy everything else – was standing
beside Phi, following his gaze.</span></p>

    <p><span>“I
think she’s dancing,” said Phi.</span></p>

    <p><span>“I
suppose you could call it that,” said the lady snootily. She snickered as she
pulled a bottle of Serenity from the shelf to inspect it. Phi laughed along uncomfortably,
but their laughing caught Aula’s attention, and her face flushed bright pink.
She thwacked the bottle she was holding onto the shelf with a thud, and stormed
off to the back of the shop.</span></p>

    <p><span>Phi
skidded over the shop counter after her.</span></p>

    <p><span>“Aula!
Wait a second, will you!” he called out as he dashed to the back of the shop.</span></p>

    <p><span>She
quickly ran out of places to hide in the poky store, and Phi cornered her in
the tiny kitchenette.</span></p>

    <p><span>“I’m
sorry,” he said, bobbing his head this way and that to look her in the eye.</span></p>

    <p><span>Aula
crossed her arms and refused to oblige.</span></p>

    <p><span>“I
wasn’t laughing at you,” he said.</span></p>

    <p><span>“Then
what <i>were</i> you laughing at?” she asked, suddenly meeting his gaze.</span></p>

    <p><span>“I
was laughing <i>with</i> that customer!” he said, unable to hold her glare.</span></p>

    <p><span>“Yeah!
Laughing <i>with </i>her <i>at</i> me!”</span></p>

    <p><span>“That’s
not…uh…I…uh…I was just trying to…ah…I like your dancing! I think it’s sweet. I
do like it. I really do!”</span></p>

    <p><span>“Whatever,”
said Aula, pushing past Phi.</span></p>

    <p><span>Phi
spent the rest of the afternoon trying to catch Aula’s attention and give her
an apologetic look, but Aula spent the rest of the afternoon ignoring him. They
stacked shelves in silence. When Aula refused to talk, Phi started thinking of
questions to ask: “Where does Envy go?” “How many rows of Envy do we normally
stock?” “Don’t you think it’s weird Envy is filed under Anger?” Aula only
replied to the questions needed for the job, often pointing rather than
speaking.</span></p>

    <br/>

    <p align=center><span
    >&#10022;</span></p>

    <br/>

    <p><span
    >Phi’s
father was disappointingly underwhelmed by Phi’s successful job hunt. The week
had dragged as Phi waited to see Aula again, but today Phi was brimming with so
much Excitement you could have bottled it. He cradled his precious project as
he barged through the shoppers on the high street.</span></p>

    <p><span>The
bustling fishing town of Marsy was embedded stubbornly in the cliffs. Steep
pathways zig-zagged their way through each colourful level of town to the
yawning waves below. The narrow high street, halfway down the hillside, was
always teeming with people on a Friday afternoon.</span></p>

    <p><span>“I
reckon they must all hide away in a dark room and jump out at the end of the
week like a surprise party,” Phi once tried to joke with his father. </span></p>

    <p><span>“That’s
work for you,” his father had replied with a face as straight as his
pinstripes.</span></p>

    <p><span>Phi
was now fifteen, and he’d reached that age where working life had lost its
glamour. There was no more “When I grow up, I want to be the Premier,” or “I
want to be a mountain lie-on tamer.” His father, Sir Rayleigh, wanted him to be
a businessman. Sir Rayleigh was a businessman, but Phi still wasn’t quite sure
what that meant. As far as Phi could tell, they just sat around writing numbers
down on paper. Then they’d sit down with other businessmen to talk about what
numbers <i>they</i> had written on <i>their</i> paper, and somehow this all
“put food on the table.”</span></p>

    <p><span>When
he was younger, Phi had scribbled some of his favourite numbers – like
nineteen, and four – on a scrap of paper, and sat down to talk about them with
his friend Yan, but no matter how long they compared their papers, no chocolate
ever materialised.</span></p>

    <p><span>As
Phi pushed through the crowds, the flood of shoppers became a trickle. He was
soon up above the high street in the residential levels of town, where the wind
whipped at his face and salted his tongue. Out here – far from the Factory – it
was normally easy to feel the Emotions on the sea breeze. A south wind often shivered
with Loneliness, while an easterly breeze sighed Tranquillity. The forecast had
predicted a strong, lonely wind, but Phi found it uncharacteristically
indifferent.</span></p>

    <p><span>The
large, wrought iron gates in front of his house were heavy and stiff. Phi
heaved them open just wide enough to squeeze through, then put all of his
weight into closing them again. He ran up the path to the front door and bolted
through the house to his father’s study.</span></p>

    <p><span>During
the day, the huge, south-facing window kept Sir Rayleigh’s study light and
airy, but in the evenings, long shadows sprawled from the desk lamp. A smoky
aroma pervaded every crevice of the room. It often twisted Phi’s stomach,
reminding him of the time he’d secreted away one of his father’s cigars to smoke
with Yan. The results were nauseating. </span></p>

    <p><span>Then
– of course – there was Phi’s father. Sir Anton Rayleigh was a busy man. He
wasn’t busy in a frantic kind of way like Yan’s mother; she always seemed to be
ten minutes late for some appointment or another. Sir Rayleigh was busy in a
calm way: the sort of way that meant when you talked to him, he continued
writing down whatever numbers he was working on. If he put his pen down and
looked at you directly, you could practically see the invoice for his time, itemised
by the second. The effect of this intimidating study – with its intimidating
occupant – usually made Phi feel uncomfortable enough to stay away unless it
was urgent, but today Phi’s Enthusiasm overcame everything else, and he burst
into the room.</span></p>

    <p><span>“Look
what I made in the workshop!” Phi announced.</span></p>

    <p><span>“What
have I told you about running in the house?” said Sir Rayleigh coolly, his eyes
still fixed on his work.</span></p>

    <p><span>“Don’t
do it,” said Phi, his grin evaporating.</span></p>

    <p><span>“And
what about shouting?”</span></p>

    <p><span>“Don’t
do it.”</span></p>

    <p><span>“And
barging in?”</span></p>

    <p><span>“…Don’t
do it. I’m sorry, sir. It’s just, today I finally finished making my fishing
rod in the workshop.” Phi presented his creation for his father to see, but Sir
Rayleigh’s gaze continued to scan over the papers on his desk.</span></p>

    <p><span>“I
see,” said Sir Rayleigh (but Phi highly doubted he did).</span></p>

    <p><span>“And,
well, it’s Friday, sir.”</span></p>

    <p><span>“Indeed
it is.”</span></p>

    <p><span>“And
you said you’d come fishing with me when I finished building my rod. I think
it’s the best thing I’ve made so far! The lathe was broken, but I helped Mr.
Tavish fix it. And now I’ve got a much smoother finish than any–”</span></p>

    <p><span>“Perhaps
Mr. Tavish needs reminding that getting one’s hands dirty in an oily machine is
no way to spend one’s school days. It takes oratory and arithmetic to become a
businessman, not sweat and grime.”</span></p>

    <p><span
    >“But
–” Phi began, not really knowing how to phrase his protest. <i>But you
promised? But I </i>like<i> sweat and grime?</i> He shifted from foot to foot.</span></p>

    <p><span>Sir
Rayleigh’s pen finally stopped scratching at the paper on the desk. He sighed
and looked up from his work.</span></p>

    <p><span>“Look,
Raphael,” he said. Phi grimaced. “You’re growing up. One day soon – much sooner
than you think – you’ll be looking after a son of your own. Don’t make faces.
You’ll need to work hard to give him the best life you can. It’s important that
you understand the value of a hard day’s work. Focus on your job at Mr.
Reese’s, and stop fiddling with your greasy machines.” Sir Rayleigh burned the
message into Phi with his eyes.</span></p>

    <p><span>“Yes,
sir,” muttered Phi, casting his eyes to the floor.</span></p>

    <p><span>“Don’t
mutter,” his father said, returning to his work.</span></p>

    <p><span>Phi
cleared his throat. “Yes, sir.”</span></p>

    <p><span>“Very
well. That will be all.”</span></p>

    <br/>

    <p align=center><span
    >&#10022;</span></p>

    <br/>

    <p><span
    >When Phi
returned to Mr. Reese’s, Aula still refused to talk to him. They went about
their tasks in silence, which made the day feel endless. By the end of it, Phi
wanted to scream, just to hear something other than the clink of bottles being
rearranged on shelves. The high street swelled with evening shoppers and Phi
still hadn’t convinced Aula to talk to him.</span></p>

    <p><span>But
he had a plan.</span></p>

    <p><span>When
the shop was sufficiently full, Phi seized his chance. He fetched a record from
the store room and set it on the turntable stashed under the counter. People
could barely talk over the blaring music. A quick, jaunty tune filled the store
and Phi leapt onto the shop counter. He clapped along to the music with a grin,
cajoling the bemused customers to join in. At this point he broke into a
ridiculous dance. Phi had never jigged before and – by any reasonable
definition – Phi hadn’t jigged after. His feet jittered this way and that, as
if they might stumble across rhythm by accident. He threw his arms over his
head and leapt from the counter. He lunged at a hapless customer and spun them
round, soon discarding them to grab another.</span></p>

    <p><span>Suddenly
the music stopped.</span></p>

    <p><span>“What
in the blazes is going on out ‘ere?” cried Mr. Reese, only to find Phi had skipped
over and started waltzing around the room with him. The crowd began to laugh
and cheer, and the clapping only grew louder. “Let go o’ me!” he demanded, but
Phi just twirled him around and – out of the corner of his eye – saw a smile
creep along Aula’s face. </span></p>

    <p><span>“Don’t
forget!” cried out Phi to the crowd, “Exuberance is half price! And just look
how potent it is! Even Mr. Reese is dancing!”</span></p>

    <p><span>Phi
took Aula’s hand and thrust it into Mr. Reese’s, propelling the two of them
around the room. Mr. Reese protested at every turn. Phi grabbed a box of
Exuberance and started pushing bottles into customers’ hands. “Get it while
it’s hot! Don’t all rush me at once now! There’s plenty for everyone!” He
emptied the box, hopped behind the counter, and was taking money from the
enthusiastic crowd before Aula and Mr. Reese had finished a lap of the store.</span></p>

    <p><span>Mr.
Reese eventually ushered all the patrons out of the store, and hurriedly flipped
the <span>closed</span> sign in the window. He
spun around and hobbled over to Phi with a look of utter Fury. He chewed his
gums for a few moments, looking for the words to explain just how wrong that
whole shenanigan had been. With an exasperated sigh, he just hoisted himself
back over the counter, shaking his head and muttering inaudibly to himself.</span></p>

    <p><span>Phi
caught Aula trying to stifle a laugh.</span></p>

    <p><span>“We’re
tidying up before leaving,” she said, pulling her face straight again.</span></p>

    <p><span>Phi
moved the empty boxes back to the store room, clapping his hands free of the dust
as he returned. He smiled to himself as he looked out across the counter. Aula
was mopping the floor, bobbing and dancing with the mop handle to her own
silent tune.</span></p>

    <p><span>He
approached her slowly.</span></p>

    <p><span>“Hey,”
he said quietly, rubbing his arm. He launched into his question. The words
tumbled over each other, just about managing to come out in the right order. “Do
you want to come fishing after work? I made this rod in the workshop. I helped
Mr. Tavish fix the lathe, so it’s got the smooth–”</span></p>

    <p><span>“Sure,”
she said simply, smiling.<br clear=all>
</span></p>

{% endblock %}