.review {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.25rem;
  padding: 0 3em;
  display: flex;
  margin: 2em 0;

  &:nth-child(even) {
    .quote-marks-after {
      display: none;
    }
  }

  &:nth-child(odd) {
    .quote-marks-before {
      display: none;
    }
  }

  .quote-marks {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    font-style: italic;
    flex: 0 0 auto;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: $orange;
    text-align: center;
    margin-top: 0.2rem;

    &.quote-marks-after {
      margin-left: 2rem;
    }

    &.quote-marks-before {
      margin-right: 2rem;
    }

    .quote-mark {
      display: inline-block;
      font-size: 3rem;
      position: relative;
      color: white;

      &.open-quote {
        top: -0.3rem;
        left: 0rem;
      }

      &.close-quote {
        top: 0.6rem;
        left: -0.7rem;
      }
    }
  }

  .review-metadata {
    font-style: normal;
    display: flex;
    justify-content: flex-end;
    margin-top: .5em;

    .reviewer {
      padding: 0 1em;
    }
  }

  @media (max-width: $screen-md) {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    .quote-marks {
      margin-bottom: 1em;

      &.quote-marks-before {
        display: block;
      }

      &.quote-marks-after {
        display: none;
      }
    }

    .review-metadata {
      display: block;
      text-align: right;
    }
  }
}